@charset "UTF-8";
/* CSS Document */
@import url(navstyle.css);
body, ol, ul, h1, h2, h3, h4, h5, h6, p, th, td, dl, dd, form, fieldset, legend, input, textarea, select, td, figure {
  margin: 0;
  padding: 0;
  font-family: "微软雅黑"; }

li {
  list-style: none; }

a {
  text-decoration: none; }

input:focus {
  outline: none; }

.over {
  white-space: nowrap;
  text-overflow: ecllipsis;
  overflow: hidden; }

.valign:after {
  content: "";
  width: 0;
  height: 100%;
  display: inline-block;
  vertical-align: middle; }

.clear {
  clear: both; }

.valign img {
  vertical-align: middle; }

a img {
  boreder: 0; }

mark {
  background: none; }

/*万能清除法*/
.clear {
  zoom: 1; }

/*清除ie的浮动*/
.clear:before {
  content: "";
  display: table; }

.clear:after {
  content: "";
  clear: both;
  display: block; }

i {
  display: inline-block;
  vertical-align: middle; }

.margin {
  width: 1200px;
  margin: 0 auto; }

html {
  height: 100%; }
  html body {
    height: 100%; }

@font-face {
  font-family: iconfont;
  src: url("../font/iconfont.eot");
  src: url("../font/iconfont.eot?#iefix") format("embedded-opentype"), url("../font/iconfont.woff") format("woff"), url("../font/iconfont.ttf") format("truetype"), url("../font/iconfont.svg#iconfont") format("svg"); }
.gm-icon {
  font-family: "iconfont" !important;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale; }

#headbanner {
  background: #f69209;
  height: 80px; }
  #headbanner .margin {
    height: 80px;
    position: relative; }
  #headbanner .ban {
    display: block;
    width: 1200px;
    height: 80px; }
  #headbanner .close {
    padding: 6px;
    position: absolute;
    right: 3px;
    top: 5px; }
  #headbanner i {
    display: block;
    width: 12px;
    height: 12px;
    background: url(../images/ui.png) -60px -466px no-repeat; }
  #headbanner img {
    height: 80px; }

.header {
  background: #f8f8f8;
  border: 1px solid #f3f3f3;
  font: 12px/30px ""; }
  .header i {
    margin-left: 3px;
    width: 7px;
    height: 4px;
    background: url(../images/ui.png) -62px -433px no-repeat;
    margin-bottom: 2px; }
  .header .margin {
    position: relative; }
  .header #user {
    position: absolute;
    z-index: 2;
    bottom: -214px;
    left: 0;
    display: none;
    width: 300px;
    height: 214px;
    padding: 8px;
    box-sizing: border-box;
    background: #fff; }
  .header #user-t {
    display: flex;
    padding-bottom: 8px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1); }
    .header #user-t i {
      width: 55px;
      height: 55px;
      background: url(../images/ui.png) 0 -337px no-repeat; }
    .header #user-t span {
      display: inline-block;
      margin: 8px 0 0 15px; }
      .header #user-t span a {
        color: cornflowerblue; }
  .header #user-b {
    height: 135px; }
    .header #user-b h3 {
      width: 270px;
      height: 30px;
      display: flex;
      justify-content: space-between;
      font: 12px/30px ""; }
    .header #user-b .tequan-p {
      position: relative;
      width: 248px;
      margin-left: 18px; }
    .header #user-b .tequan {
      width: 248px;
      height: 70px;
      overflow: hidden;
      position: relative; }
    .header #user-b #tequan-l {
      background: url(../images/ui.png) -60px -357px no-repeat;
      width: 16px;
      height: 29px;
      position: absolute;
      top: 12px;
      left: -16px;
      z-index: 2; }
    .header #user-b #tequan-r {
      background: url(../images/ui.png) -76px -357px no-repeat;
      width: 16px;
      height: 29px;
      position: absolute;
      top: 12px;
      right: -16px;
      z-index: 2; }
    .header #user-b ul {
      width: 744px;
      position: absolute;
      top: 0;
      left: 0; }
      .header #user-b ul li {
        width: 248px;
        height: 70px;
        float: left;
        text-align: center; }
      .header #user-b ul a {
        display: inline-block;
        width: 70px;
        height: 70px;
        text-align: center;
        color: #cccccc; }
    .header #user-b em {
      display: block;
      width: 80px;
      height: 40px;
      font: 40px/40px ""; }
  .header #header-l {
    display: flex; }
    .header #header-l .li:nth-child(1) {
      padding: 0 5px;
      width: 62px;
      position: relative; }
    .header #header-l .member {
      color: #888; }
    .header #header-l .te {
      color: #888;
      margin-left: 10px; }
  .header #header-r {
    position: absolute;
    top: 0;
    right: 0;
    display: flex; }
    .header #header-r a {
      padding: 0 8px;
      display: block;
      color: #888; }
    .header #header-r .iconte {
      display: inline-block;
      vertical-align: middle;
      margin: 0 3px 2px 0;
      font: 400 17px/30px "";
      color: #dd00a7;
      height: 30px; }

.search {
  padding: 15px 0; }
  .search.margin {
    display: flex;
    justify-content: space-between;
    flex-wrap: nowrap; }
  .search #logo {
    width: 230px; }
  .search #search-c {
    width: 500px; }
  .search .logoimg {
    display: inline-block;
    width: 125px;
    height: 56px;
    background: url(../images/logo.png) no-repeat center; }
  .search #search-input div {
    border: 1px solid #dd00a7;
    padding: 0 5px;
    color: #bbb;
    background: #fff;
    font: 14px/30px "";
    float: left;
    box-sizing: border-box; }
  .search #search-c .input1 {
    width: 62px;
    height: 30px;
    position: relative; }
    .search #search-c .input1 i {
      background: url(../images/ui.png) -145px -1469px no-repeat;
      width: 11px;
      height: 7px; }
    .search #search-c .input1 ul {
      width: 60px;
      bottom: -120px;
      position: absolute;
      z-index: 2;
      left: -1px;
      border: 1px solid #dd00a7;
      border-top: 0;
      display: none;
      background: #fff; }
      .search #search-c .input1 ul a {
        color: #bbb; }
      .search #search-c .input1 ul li {
        font: 14px/30px "";
        padding: 0 5px;
        box-sizing: border-box; }
    .search #search-c .input1:hover ul {
      display: block; }
      .search #search-c .input1:hover ul li:hover {
        background: rgba(0, 0, 0, 0.2); }
  .search #search-c #voice {
    position: absolute;
    width: 13px;
    height: 19px;
    border: 0;
    right: 5px;
    top: 3px;
    background: url(../images/voice.png) 0 0/13px 19px no-repeat; }
  .search #search-c .input2 {
    width: 345px;
    height: 30px;
    border-left: 0;
    border-right: 0;
    position: relative; }
    .search #search-c .input2 input {
      border: 0;
      width: 100%; }
  .search #search-c .btn {
    width: 90px;
    height: 30px;
    background: #dd00a7;
    border: 0;
    font: 16px/30px "";
    color: #fff; }
  .search #search-c #search-link {
    padding-top: 8px;
    font: 12px/14px ""; }
    .search #search-c #search-link a {
      color: #bbb; }
      .search #search-c #search-link a:hover {
        color: red; }
    .search #search-c #search-link .te {
      color: #f5004b; }

#cast-shopping {
  width: 140px;
  height: 39px; }

#cast {
  display: inline-block;
  font: 12px/34px ""; }
  #cast em {
    display: inline-block;
    vertical-align: middle;
    position: relative;
    width: 27px;
    height: 20px;
    background: url(../images/ui.png) -100px -701px no-repeat; }
  #cast b {
    position: absolute;
    top: -18px;
    right: -8px;
    width: 20px;
    height: 18px;
    background: #A5A5A5;
    font: 12px/18px "";
    color: #fff;
    text-align: center; }
    #cast b i {
      position: absolute;
      bottom: -4px;
      left: 5px;
      border: 4px dashed transparent;
      border-color: transparent transparent transparent #A5A5A5;
      border-right: 0;
      border-left-style: solid;
      overflow: hidden; }

#xiajian {
  display: inline-block;
  vertical-align: middle;
  border: 4px solid #5e5e5e;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  border-bottom: 4px solid transparent;
  margin-left: 5px; }

#shop-service {
  padding: 30px 0 14px 0; }
  #shop-service .shop-service-t {
    padding: 16px 62px;
    display: flex;
    justify-content: space-between;
    background: #f5f5f5;
    font: 700 18px ""; }
    #shop-service .shop-service-t a {
      color: #404040;
      margin-right: 10px; }
    #shop-service .shop-service-t .same-i {
      display: inline-block;
      vertical-align: middle;
      width: 40px;
      height: 42px; }
    #shop-service .shop-service-t .same-a {
      font-weight: 400; }
    #shop-service .shop-service-t .shop-service-tl i {
      background: url(../images/ui.png) 0 -1469px no-repeat; }
    #shop-service .shop-service-t .shop-service-tc i {
      background: url(../images/ui.png) -40px -1469px no-repeat; }
    #shop-service .shop-service-t .shop-service-tr i {
      background: url(../images/ui.png) -80px -1469px no-repeat; }
  #shop-service .shop-service-b {
    padding: 15px 64px 0;
    display: flex;
    justify-content: space-between; }
    #shop-service .shop-service-b ul li {
      font: 12px/22px ""; }
      #shop-service .shop-service-b ul li:nth-child(1) {
        font: 14px/28px "";
        color: #333; }
      #shop-service .shop-service-b ul li a {
        color: #a5a5a5; }
        #shop-service .shop-service-b ul li a:hover {
          color: red; }

#footer {
  padding: 20px 0 24px;
  background: #f7f7f7; }
  #footer .footer-t {
    position: relative; }
    #footer .footer-t span {
      display: inline-block;
      width: 315px; }
      #footer .footer-t span i {
        float: left;
        display: inline-block;
        width: 45px;
        height: 45px;
        margin-right: 8px; }
      #footer .footer-t span b {
        float: left; }
      #footer .footer-t span:nth-child(1) {
        margin-right: 20px; }
        #footer .footer-t span:nth-child(1) i {
          background: url(../images/ui.png) 0 -135px no-repeat; }
      #footer .footer-t span:nth-child(2) i {
        background: url(../images/ui.png) -45px -135px no-repeat; }
      #footer .footer-t span p {
        width: 200px;
        font: 16px/25px "";
        color: #333; }
      #footer .footer-t span a {
        color: #999;
        font-weight: 400;
        font-size: 12px; }
        #footer .footer-t span a:hover {
          color: red; }
    #footer .footer-t .customer {
      position: absolute;
      top: 0;
      right: 0; }
      #footer .footer-t .customer i {
        width: 40px;
        height: 25px; }
      #footer .footer-t .customer em {
        float: left;
        font: 12px/14px "";
        color: #373737;
        margin-right: 20px; }
        #footer .footer-t .customer em:nth-child(1) i {
          background: url(../images/ui.png) -105px -135px no-repeat; }
        #footer .footer-t .customer em:nth-child(2) i {
          background: url(../images/ui.png) -185px -135px no-repeat; }
        #footer .footer-t .customer em img {
          width: 90px;
          height: 90px; }
  #footer .footer-c {
    margin-top: 36px;
    font: 14px/22px "";
    color: #999;
    padding-bottom: 10px; }
    #footer .footer-c a {
      color: #333;
      margin-right: 5px; }
      #footer .footer-c a:hover {
        color: red; }
  #footer .footer-b {
    padding-top: 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    font: 10px/18px ""; }
    #footer .footer-b a {
      display: inline-block;
      color: #999; }
      #footer .footer-b a i {
        background: url(../images/ui.png) 0 -180px no-repeat; }
      #footer .footer-b a:nth-child(2) i {
        background-position: -35px -180px; }
      #footer .footer-b a:nth-child(3) i {
        background-position: -70px -180px; }
      #footer .footer-b a:nth-child(4) i {
        background-position: -105px -180px; }
      #footer .footer-b a:nth-child(5) i {
        background-position: -140px -180px; }
      #footer .footer-b a:nth-child(6) i {
        background-position: -175px -180px; }
      #footer .footer-b a span {
        display: inline-block;
        width: 109spx;
        vertical-align: middle; }
    #footer .footer-b i {
      display: inline-block;
      width: 35px;
      height: 35px;
      vertical-align: middle;
      margin-right: 10px; }

.page {
  font: 12px/42px "";
  background: #f6f6f6; }
  .page .page-l {
    float: left; }
    .page .page-l a {
      color: #333;
      margin: 0 5px; }
      .page .page-l a:hover {
        color: red; }
  .page .page-r {
    float: right; }
    .page .page-r a {
      color: #333; }
      .page .page-r a:hover {
        color: red; }
    .page .page-r i {
      font-style: normal;
      padding: 0 2px;
      background: red;
      color: #fff;
      font: 12px ""; }
    .page .page-r span {
      margin-left: 6px; }
      .page .page-r span em {
        width: 21px;
        height: 20px;
        display: inline-block;
        vertical-align: middle;
        margin: 0 3px;
        background: url(../images/bg-sprite.png) 0 -167px no-repeat; }

.goods {
  padding: 20px 0; }

.goods-l {
  width: 450px;
  float: left; }
  .goods-l .wrap {
    width: 448px;
    height: 448px;
    border: 1px solid #D9D9D9;
    position: relative; }
  .goods-l #bpic {
    width: 896px;
    height: 896px; }
  .goods-l #spic {
    width: 448px;
    height: 448px;
    position: relative; }
  .goods-l #spic img {
    width: 448px;
    height: 448px; }
  .goods-l #sf {
    background: blue;
    opacity: 0.3;
    position: absolute;
    left: 0px;
    top: 0px;
    display: none; }
  .goods-l #bf {
    width: 448px;
    height: 448px;
    border: 1px solid #000;
    float: left;
    overflow: hidden;
    position: absolute;
    left: 450px;
    top: 0;
    display: none;
    z-index: 2;
    background: #fff; }
  .goods-l #bf img {
    position: absolute;
    left: 0px;
    top: 0px; }
  .goods-l #ulist {
    position: relative;
    margin: 10px 0 0 0; }
    .goods-l #ulist #list {
      margin: 10px 0 0 27px;
      width: 400px;
      overflow: hidden; }
    .goods-l #ulist ul {
      width: 427px; }
    .goods-l #ulist li {
      width: 60px;
      height: 60px;
      margin-right: 20px;
      float: left; }
      .goods-l #ulist li img {
        width: 60px;
        height: 60px;
        border: 0; }
    .goods-l #ulist .active {
      border: 1px solid red; }
    .goods-l #ulist #left {
      position: absolute;
      left: 0;
      top: 20px;
      background: url(../images/bg-sprite.png) 0 -804px no-repeat;
      width: 11px;
      height: 21px; }
      .goods-l #ulist #left:hover {
        background-position: 0 -525px; }
    .goods-l #ulist #right {
      position: absolute;
      right: 0;
      top: 20px;
      background: url(../images/bg-sprite.png) 0 -835px no-repeat;
      width: 11px;
      height: 21px; }
      .goods-l #ulist #right:hover {
        background-position: 0 -555px; }

.goods-r {
  margin-left: 20px;
  width: 720px;
  float: left;
  font: 12px/34px ""; }
  .goods-r i, .goods-r b, .goods-r em {
    font-style: normal;
    font-weight: 400; }
  .goods-r .price, .goods-r .spec, .goods-r .join, .goods-r .notice {
    padding: 10px; }
  .goods-r .title h3 {
    position: relative;
    font: 16px/26px "";
    color: #5e5e5e;
    width: 610px; }
    .goods-r .title h3 i {
      position: absolute;
      font-style: normal;
      font: 12px/24px "";
      padding: 0 3px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      right: -80px;
      top: -5px;
      top: 0; }
      .goods-r .title h3 i:hover {
        background: rgba(0, 0, 0, 0.2); }
      .goods-r .title h3 i a {
        color: #333; }
  .goods-r .title p {
    font: 12px/20px "";
    color: red; }
    .goods-r .title p a {
      color: cornflowerblue; }
  .goods-r .price {
    background: #f6f6f6;
    margin-top: 15px; }
    .goods-r .price .price-l {
      float: left;
      font: 12px/34px "";
      color: #333; }
      .goods-r .price .price-l span {
        margin-right: 20px; }
      .goods-r .price .price-l strong {
        color: red;
        font: 24px/34px "";
        margin-right: 8px; }
    .goods-r .price .price-r {
      float: right;
      font: 12px/12px "";
      color: #5E5E5E;
      margin-top: 3px; }
      .goods-r .price .price-r .haoping {
        float: left; }
        .goods-r .price .price-r .haoping p {
          margin-bottom: 3px; }
      .goods-r .price .price-r .line {
        float: left;
        width: 3px;
        background: #5E5E5E;
        height: 24px;
        margin-right: 10px; }
  .goods-r .spec p span {
    margin-right: 20px; }
  .goods-r .spec p:nth-child(1) a {
    position: relative;
    margin-right: 20px;
    border: 1px solid #61819f;
    color: #61819f;
    border-left: 0;
    padding: 2px 0 0 13px; }
    .goods-r .spec p:nth-child(1) a i {
      background: url(../images/bg-sprite.png) 0 -2048px no-repeat;
      width: 8px;
      height: 20px;
      position: absolute;
      left: -8px;
      top: -1px; }
    .goods-r .spec p:nth-child(1) a em {
      background: url(../images/bg-sprite.png) 0 -2078px no-repeat;
      padding: 8px;
      position: absolute;
      top: 1px;
      left: -4px; }
    .goods-r .spec p:nth-child(1) a:nth-child(2) em {
      background: url(../images/bg-sprite.png) 0 -2078px no-repeat; }
    .goods-r .spec p:nth-child(1) a:nth-child(3) em {
      background-position: 0 -2156px; }
    .goods-r .spec p:nth-child(1) a:nth-child(4) em {
      background-position: 0 -2104px; }
  .goods-r .spec p:nth-child(2) a {
    color: #333; }
    .goods-r .spec p:nth-child(2) a:nth-child(2) {
      margin-right: 20px; }
      .goods-r .spec p:nth-child(2) a:nth-child(2) i {
        background: url(../images/bg-sprite.png) 0 -602px no-repeat;
        width: 10px;
        height: 6px;
        margin-left: 3px; }
    .goods-r .spec p:nth-child(2) a:nth-child(4) {
      color: cornflowerblue; }
  .goods-r .spec p:nth-child(2) b {
    margin-right: 10px; }
  .goods-r .spec p:nth-child(5) b {
    display: inline-block;
    margin: 0 0 0 10px; }
  .goods-r .spec p:nth-child(5) i, .goods-r .spec p:nth-child(5) b {
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding: 0 6px;
    cursor: pointer; }
    .goods-r .spec p:nth-child(5) i img, .goods-r .spec p:nth-child(5) b img {
      vertical-align: middle;
      margin-right: 5px; }
  .goods-r .spec p:nth-child(5) u {
    width: 16px;
    height: 16px;
    display: inline-block;
    background: url(../images/bg-sprite.png) 0 -1859px no-repeat;
    margin-left: 10px;
    cursor: pointer; }
  .goods-r .spec p:nth-child(4) {
    margin-bottom: 5px; }
    .goods-r .spec p:nth-child(4) i {
      position: relative;
      border: 1px solid #5E5E5E;
      cursor: pointer; }
      .goods-r .spec p:nth-child(4) i img {
        width: 40px;
        height: 40px;
        vertical-align: middle; }
    .goods-r .spec p:nth-child(4) em {
      padding: 14px 10px ""; }
  .goods-r .join .num {
    width: 48px;
    height: 40px;
    border: 1px solid #5E5E5E;
    float: left; }
    .goods-r .join .num input {
      font: 12px/40px "";
      width: 32px;
      height: 40px;
      border: 0;
      text-align: center;
      color: #5E5E5E;
      float: left;
      border-right: 1px solid #5E5E5E; }
    .goods-r .join .num i {
      float: left; }
      .goods-r .join .num i span {
        display: block;
        background: rgba(0, 0, 0, 0.2);
        width: 15px;
        height: 20px;
        font: 12px/20px "";
        padding-left: 3px;
        box-sizing: border-box;
        cursor: pointer;
        -webkit-user-select: none; }
        .goods-r .join .num i span:nth-child(1) {
          border-bottom: 1px solid #5E5E5E; }
  .goods-r .join .mobile, .goods-r .join #joincast, .goods-r .join #fenqi, .goods-r .join #quickbuy {
    float: left;
    font: 18px/22px "";
    height: 24px;
    padding: 8px 25px;
    color: #fff;
    background: red;
    margin-left: 10px;
    cursor: pointer; }
  .goods-r .join #fenqi, .goods-r .join #quickbuy {
    background: green; }
  .goods-r .join .mobile {
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.1);
    width: 90px;
    height: 40px;
    font: 12px/40px "";
    position: relative;
    padding: 0; }
    .goods-r .join .mobile:hover .erweima {
      display: block; }
    .goods-r .join .mobile i {
      background: url(../images/bg-sprite.png) 0 -2303px no-repeat;
      padding: 17px 14px;
      margin: 5px 0 0 5px; }
    .goods-r .join .mobile span {
      color: #333; }
    .goods-r .join .mobile .erweima {
      position: absolute;
      display: none;
      bottom: -88px;
      left: -1px;
      height: 90px;
      border: 1px solid rgba(0, 0, 0, 0.1);
      border-top: 0; }
      .goods-r .join .mobile .erweima img {
        width: 90px;
        height: 90px; }

.shopping-car {
  width: 35px;
  height: 100%;
  position: fixed;
  z-index: 100;
  top: 0;
  right: 0;
  background: #5c5c5c; }
  .shopping-car .shopping-car-t {
    margin-top: 22px; }
    .shopping-car .shopping-car-t .same-b {
      width: 28px;
      height: 1px;
      margin-left: 2px;
      background: #999;
      position: absolute;
      bottom: 0; }
    .shopping-car .shopping-car-t .shopping-car-tt {
      display: block;
      position: relative;
      width: 35px;
      height: 34px;
      border-top: 1px solid #5c5c5c; }
      .shopping-car .shopping-car-t .shopping-car-tt:hover {
        background: #000; }
      .shopping-car .shopping-car-t .shopping-car-tt i {
        display: block;
        margin: 8px auto;
        background: url(../images/ui.png) -18px -1025px no-repeat;
        width: 28px;
        height: 18px; }
    .shopping-car .shopping-car-t .shopping-car-tc {
      position: relative;
      padding: 40px 0 20px; }
      .shopping-car .shopping-car-t .shopping-car-tc:hover {
        background: #000; }
      .shopping-car .shopping-car-t .shopping-car-tc a {
        display: block; }
      .shopping-car .shopping-car-t .shopping-car-tc em {
        position: relative;
        width: 20px;
        height: 31px;
        display: block;
        margin-left: 5px;
        background: url(../images/ui.png) -32px -1046px no-repeat; }
      .shopping-car .shopping-car-t .shopping-car-tc p {
        width: 12px;
        font: 12px/16px "";
        color: #fff;
        margin-left: 11px; }
      .shopping-car .shopping-car-t .shopping-car-tc span {
        position: absolute;
        top: -18px;
        right: -8px;
        width: 20px;
        height: 18px;
        background: #A5A5A5;
        font: 12px/18px "";
        color: #fff;
        text-align: center; }
        .shopping-car .shopping-car-t .shopping-car-tc span u {
          position: absolute;
          bottom: -4px;
          left: 5px;
          border: 4px dashed transparent;
          border-color: transparent transparent transparent #A5A5A5;
          border-right: 0;
          border-left-style: solid;
          overflow: hidden; }
    .shopping-car .shopping-car-t .shopping-car-tb {
      width: 34px;
      border-top: 1px solid #5C5C5C;
      height: 35px;
      position: relative; }
      .shopping-car .shopping-car-t .shopping-car-tb:hover {
        background: #000; }
      .shopping-car .shopping-car-t .shopping-car-tb i {
        display: block;
        width: 20px;
        height: 20px;
        margin: 8px 0 0 8px;
        background: url(../images/ui.png) -71px -1023px no-repeat; }
  .shopping-car .shopping-car-c {
    position: fixed;
    bottom: 30px;
    background: #5C5C5C; }
    .shopping-car .shopping-car-c .same-divsh {
      width: 34px;
      height: 35px;
      border-top: 1px solid #5C5C5C; }
      .shopping-car .shopping-car-c .same-divsh:hover {
        background: #000; }
    .shopping-car .shopping-car-c .te {
      display: block;
      margin: 8px auto;
      width: 20px;
      height: 20px; }
    .shopping-car .shopping-car-c .shopping-car-ct .te {
      background: url(../images/ui.png) -212px -493px no-repeat; }
    .shopping-car .shopping-car-c .shopping-car-cc .te {
      background: url(../images/ui.png) -212px -473px no-repeat; }
    .shopping-car .shopping-car-c .shopping-car-cb .te {
      background: url(../images/ui.png) -212px -513px no-repeat; }
    .shopping-car .shopping-car-c .shopping-car-b .te {
      background: url(../images/ui.png) -212px -533px no-repeat; }

/*# sourceMappingURL=detailstyle.css.map */
